@page
@model WorkUA.Pages.Vacancies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacancy</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancy.IsRemote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacancy.IsRemote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancy.Profession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacancy.Profession!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancy.Employer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacancy.Employer!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancy.Employer!.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacancy.Employer!.City!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vacancy?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vacancy.Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancy.Employer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancy.IsRemote)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Vacancy.Employer!.Vacancies) {
        if(item.Id == Model.Vacancy.Id) continue;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profession!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemote)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>