@page
@model WorkUA.Pages.Vacancies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="form-group">
            <label for="city-select"></label>
            <select id="city-select" asp-for="CityIdFilter" asp-items="ViewBag.Cities">
                <option value="">-- Select city --</option>
            </select>
            <span asp-validation-for="CityIdFilter" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="profession-select"></label>
            <select id="profession-select" asp-for="ProfessionIdFilter" asp-items="ViewBag.Professions">
                <option value="">-- Select profession --</option>
            </select>
            <span asp-validation-for="ProfessionIdFilter" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsRemoteFilter"/> 
                Remote work.
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsNotRemoteFilter"/> 
                Office work.
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Apply" class="btn btn-primary">
        </div>
        
    </div>
</form>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vacancy[0].Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancy[0].Employer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancy[0].IsRemote)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Vacancy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profession!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemote)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>